<div class="container">
<div> 
  <h3>FirebaseStorage</h3>
  <h4>{{title}}</h4>
</div>
<div class="my-3">
  <app-upload-form></app-upload-form>
</div>
<div class="my-3">
  <app-upload-list (openPdf)="openPdf($event)"></app-upload-list>
</div>
</div>

<div class="my-3">
  
<div id="outerContainer">
  <div *ngIf="src" class="pdf-container">
    Adat
    <pdf-viewer
      [src]="src"
      [rotation]="0"
      [original-size]="false"
      [show-all]="true"
      [fit-to-page]="false"
      [zoom]="1"
      [zoom-scale]="'page-width'"
      [stick-to-page]="false"
      [render-text]="true"
      [external-link-target]="'blank'"
      [autoresize]="true"
      [show-borders]="false"
      style="width: 100%; height: 600px;"
    ></pdf-viewer>
  </div>
</div>
</div>

